<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
    $(".page-preview-icon").hover(function(){
        $(this).parents(".page-nav").css("z-index","5000");
    });
    {% if page.comments %}
	<!-- gitalk评论框 start -->
	var gitalk = new Gitalk({
	  clientID: '267895d45788868b03a1',
	  clientSecret: '6526b0091815b82b7aa1562ccf30c70f0efe4147',
	  repo: 'blog-comment',
	  owner: 'blambin',
	  admin: ['blambin'],
	  id: '{{ page.title }}',      // Ensure uniqueness and length less than 50
	  distractionFreeMode: false  // Facebook-like distraction free mode
	})

	gitalk.render('gitalk-container')
	<!-- gitalk评论框 end -->
	{% endif %}
</script>
